.btn {
  &:active, &:focus {
    box-shadow: none;
    outline: none !important;
  }
}

.btn-primary {
   @include font-size($large-font);
   text-align: center;
}

.btn-secondary {
   color: $white;
   @include font-size($medium-font);
   text-align: left;
}

.btn-navbar-nobutton {
   background-color: inherit;
   @include font-size($medium-font);
   width: 100%;

   &:hover, &:focus {
      background-color: #3293be;
      color: $white;
   }

   i {
      display: none;
      float: right;
      top: px-rem(5);
   }

   &[aria-expanded="true"] {
     i { display: inline-block; }
   }
}

.btn-create {
   background-color: $white;
   border-radius: 2.5454rem;
   color: $gray-dark;
   border-color: $white;
   padding: 0.475rem 1.8363rem;

   &:hover {
      background-color: #e6e6e6;
      border-color: $white;
      color: $gray-dark;
   }
}

.btn-pagination {
  background-color: transparent;
  border: 1px solid $gray-lighter;
  border-radius: 50%;
  color: #D8D8D8;
  font-size: .8rem;
  padding: px-rem(8) px-rem(10);

  &:hover {
    border: none;
    color: #D8D8D8;
    transition: all 0.2s ease-in-out;
  }
}

.btn-view {
  color: #6C6C6C;
  font-size: px-rem(27);

  &:hover {
    color: $white;
  }
}

.btn-view--active {
  background-color: $gray-lighter;
  border-radius: 0;
  color: #00C9FF;
  box-shadow: none;

  &:hover {
    color: #00C9FF;
  }
}

.btn-list { padding: px-rem(19.65) px-rem(32) px-rem(19.65) px-rem(15); }

.btn-grid { padding: px-rem(19.65) px-rem(24.44); }
