body {
  color: $white;
  font-family: $open-sans;
  @include font-size($large-font);
  line-height: 1.5;
  background-color: $gray;
}

a {
  color: $white;
}

header {
  background-color: $black;
  height: px-rem($header-height);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}

.navbar-toggle {
  float:left;

  .icon-bar {
    background-color: $white;
  }
}

.logo {
  height: px-rem($header-height);
  margin: 0;

  @include respond-max($screen-sm) {
    text-align: center;
  }
}

.logo__img {
  border: 0;
  vertical-align: middle;
}

.main {
  margin-top: px-rem($header-height);
  padding-left: 188px;
  transition: all 0.5s ease;

  @include respond-max($screen-sm) {
    padding-left: 0;
  }
}

.main.active {
  padding-left: 188px;

  .sidebar-navbar {
    left: 188px;
    width: 188px;
  }
}

.main-column {
  background-color: $gray-dark;
  height: 100vh;
  overflow: auto;
  transition: all 0.4s ease 0s;
  width: 100%;

  article {
    padding: 0 px-rem(10);
  }

  &.nopadding {
    padding: 0;
  }

}

.nopadding {
  @include respond-max($screen-sm) {
    padding: 0;
  }
}

.navbar-toggle {
  @include respond-max($screen-sm) {
    display: block;
  }
}

.dropdown-menu {
  background-color: $white;
  border-radius: 4px;
  color: $gray-light;
  @include font-size($medium-font);
  position: absolute;

  &:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid $white;
    border-left: 6px solid transparent;
    display: inline-block;
    content: '';
    left: 10px;
    position: absolute;
    top: -6px;
  }
}
