body {
   color: #fff;
   font-family: Open Sans,Trebouchet,Helvetica,Arial,sans-serif;
   font-size: 13px;
   line-height: 1.5;
}

a {
   color: #fff;
}

header {
   background-color: $gray-base;
   height: px-rem(80);
}

.logo {
   height: 5rem;
   margin: 0;
}

.logo__img {
   border: 0;
   vertical-align: middle;
}

.main-column {
   background-color: #202020;
   display: inline-block;
   width: 100%;
}
