.nav {
  background-color: #373737;
  display: block;
  margin-top: px-rem(30);
}

.nav__item {
  display: inline-block;
}

.nav__view {
  border: 1px solid $gray;
  border-width: 0 1px 0 0;
}

.nav__switch {
  display: inline-block;
  height: px-rem(22);
  left: px-rem(10);
  margin-left: px-rem(15);
  margin-right: px-rem(15);
  position: relative;
  top: px-rem(13);
  width: 38px;

  input {
    display:none;

    &:checked + .nav__slider {
      background-color: #3293be;
    }

    &:focus + .nav__slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .nav__slider:before {
      transform: translateX(22px);
    }
  }
}

.nav__slider {
  background-color: #1B739B;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;

  &:before {
    background-color: #00B0FF;
    bottom: -3px;
    content: "";
    height: px-rem(33);
    left: px-rem(-5);
    position: absolute;
    width: px-rem(33);
    transition: .4s;
  }

  &.nav__slider--round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}

.nav__filter {
  padding-left: px-rem(19);
  padding-right: px-rem(19);
}

.nav__order {
  border: 1px solid $gray;
  border-width: 0 0 0 1px;
  float: right;
  padding: px-rem(24.8) px-rem(25);

  .glyphicon-menu-down {
    color: #818181;
    cursor: pointer;
    margin-left: px-rem(10);
  }
}

.nav__dropdown{
  left: 58px;
  min-width: px-rem(120);
  top: px-rem(70);
  width: px-rem(145);

  &:after {
    left: 65px;
  }
}

.nav__sort-item {
  padding: px-rem(8) px-rem(11);

  &:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }

  a {
    color: $gray-light;
    @include font-size($medium-font);

    &:hover {
      text-decoration: none;
    }
  }
}
