.navbar-wrapper {
  background: #1a1a1a;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}

.sidebar-navbar {
  background-color: #2d2d2d;
  font-size: 10px;
  height: 100%;
  left: 188px;
  margin-left: -188px;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  transition: all 0.5s ease;
  width: px-rem(301);
  z-index: 1000;

  .icon {
    display: inline-block;
    font-size: 12px;
    margin-right: 6px;
    min-width: 2.182rem;
    text-align: center;
    &.icon-bill {
      text-align: left;
      font-size: 10px;
    }
  }
  @media (max-width: 768px) {
    left: 0;
  }
}

.navbar-primary {
  color: #adafb2;
}

.navbar-primary__title {
  background-color: #373737;
  color: #B6B6B6;
  display: block;
  font-size: 11px;
  letter-spacing: .2rem;
  padding: 1.1rem 1.25rem 1.1rem 1.636rem;
  text-transform: uppercase;
}

.navbar__link {
  color: #adafb2;
  display: block;
  padding: .6rem .8rem;
  &:hover, &:focus {
    background-color: #202020;
    color: #fff;
    cursor: pointer;
    outline: none !important;
    text-decoration: none;
  }
}

.navbar-trader {
  background-color: #3da0cc;
  bottom: 0;
  position: fixed;
  width: px-rem(301);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar-trader__list {
  .navbar__link {
    color: $white;
    &:hover, &:focus {
      background-color: #3293be;
    }
  }
}

.navbar-trader__list--hidden {
  display: none;
}

.navbar-trader__create {
  border-top: 1px solid #0089ad;
  margin-top: .35rem;
  padding: px-rem(12) 0;
  text-align: center;
}

.navbar-toggle {
  position: absolute;
  cursor: pointer;
}

.navbar-toggle--burguer {
  .header.active & {
    display: none;
  }
}

.navbar-toggle--cross {
  .glyphicon {
    color: #00B0FF;
    font-size: px-rem(30);
    font-weight: normal;
  }
  .header & {
    display: none;
  }
}

.navbar-toggle--cross {
  .header.active & {
    display: block;
  }
}
