.news {
  border-bottom: 1px solid #505050;
  display: block;
  padding: 0 px-rem(90) px-rem(7) px-rem(15);
  @include respond-max($screen-sm) {
    padding: 0 px-rem(10) px-rem(2) px-rem(10);
  }
}

.news__item {
  width: 46%;
  @include respond-max($screen-sm) {
    width: 76%;
  }
}
