.news {
  border-bottom: 1px solid $gray-lighter;
  display: block;
  padding: 0 px-rem(90) px-rem(7) px-rem(15);

  @include respond-max($screen-sm) {
    padding: 0 px-rem(10) px-rem(2) px-rem(10);
  }
}

.news__item {
  position: relative;
  width: 52%;

  @include respond-max($screen-sm) {
    width: 64%;
  }
}

.news__arrow {
  cursor: pointer;
  font-size: px-rem(18);
  position: absolute;
  right: -3rem;
  top: .5rem;
}
