.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 px-rem(20);
  width: 100%;
}
/*
.pagination__result {
  display: inline-block;
  float: left;
  width: 50%;
}

.pagination__arrow {
  display: inline-block;
  float: right;
  width: 50%;
}
*/
