.user {
  display: flex;
  padding: px-rem(45) px-rem(90) px-rem(30) px-rem(10);
  align-items: center;
  @include respond-max($screen-sm) {
    padding: px-rem(50) px-rem(10) px-rem(30) px-rem(10);
  }
}

.user__icon {
  background-color: #67D2C8;
  border-radius: 50%;
  display: inline-block;
  font-size: 14.3px;
  margin-right: px-rem(10);
  padding: px-rem(24);
}

.user__detail {
  display: inline-block;
}

.user__name{
  color: #adafb2;
  font-size: 12px;
  display: block;
}

.user__account {
  display: block;
}

.user__notifications {
  background-color: #505050;
  border-radius: 3px;
  color: #00C9FF;
  font-size: 1.1rem;
  margin-left: px-rem(3);
  padding: 0 px-rem(5);
}
