/*  Colours */
$black: #000;
$grey: #d3d3d3;
$grey-light: #4A4A4A;
$white: #fff;

$header-height: 80;

/* fonts */
$open-sans: Open Sans,Trebouchet,Helvetica,Arial,sans-serif;
$large-font: 21;
$medium-font: 20;
$small-font: 18;
