/*  Colours */
$black: #000;
$blue-light: #3293be;
$blue-lighter: #00C9FF;
$gray: gray;
$gray-li: #D8D8D8;
$gray-light: #4A4A4A;
$gray-lighter: #505050;
$gray-dark: #202020;
$green: #AAFF00;
$red: #FF4141;
$yellow: #AAFF00;
$white: #FFF;

$header-height: 80;

/* fonts */
$open-sans: Open Sans,Trebouchet,Helvetica,Arial,sans-serif;
$large-font: 21;
$medium-font: 20;
$small-font: 18;
